<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>UNEFM - Dirección de Control de Estudios</title>
        <meta name="description" content="Pagina Oficial de la Dirección de Control de Estudios de la Universidad Nacional Experimental Francisco de Miranda, UNEFM. Coro estado Falcón">
        <meta name="author" content="Dirección de Control de Estudios">
        <meta name="viewport" content="width=max-width, initial-scale=1.0">
        <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="img/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/estilo.css">
        <link rel="stylesheet" href="css/menu-estilos.css">
        <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    </head>

    <body>
       <header role="banner" id="headerArea" class="navbar-fixed-top">
            <div class="container-fluid">
                <div class="row">
                    <div class="membrete class col-sm-12">
                       <img src="img/membrete.png"  alt="Membrete" class="img-responsive hidden-xs" />
                    </div>
                </div>
            </div>

            <div class="class container-fluid cabecera">
             <div class="class row">
                <div class="col-xs-12 col-sm-4 col-md-5 col-lg-5 texto-cab visible-md visible-lg">
                   <h7 class="">UNIVERSIDAD NACIONAL EXPERIMENTAL <br>
                   <strong>FRANCISCO DE MIRANDA</strong></h7>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-7 col-lg-7 visible-lg">
                    <ul id= "iconos">
                        <li id="twitter"><a href="AQUÍ TU ENLACE" title="Síguenos en Twitter"></a> </li>
                        <li id="facebook"><a href="AQUÍ TU ENLACE" title="Síguenos en Facebook"></a></li>
                        <li id="google-plus"><a href="AQUÍ TU ENLACE" title="Conéctate"></a></li>
                        <li id="instagram"><a href="AQUÍ TU ENLACE" title="Síguenos en Instagram"></a></li>
                    </ul>
                 </div>
             </div>
            </div>


<!--<div role="banner" id="headerArea" class="">-->
  <h1 class="unefm-heading">
    <a href="/" class="unefm-heading__link">
      <span class="is-visually-hidden">   </span>
    </a>
  </h1>

  <a href="#siteNavigation" class="btn--menu" id="btn_menu" data-state="off" data-id="nav" aria-label="Reveal Navigation">
    <span class="btn--menu__icon"></span>
    Menu
  </a>

<nav role="navigation" class="main-nav" id="siteNavigation">
          <div class="nav-drawer">
            <div class="nav-group nav-group--consistent">
              <ul class="clearfix">
                <li class="nav-left-half">
                  <ul role="presentation" class="clearfix">
                    <li class="has-drop-nav">
                      <a href="#" class="">
                       INSCRIPCIONES
                        <span class="lg-nav-txt"></span>
                      </a>
                        <ul  class="list--drop-nav">
                            <li class="first"><a href="#" class="first">Nuevos Ingresos</a></li>
                            <li class=""><a href="#" class="">Regulares</a></li>
                            <li class=""><a href="#" class="">Cronogramas</a></li>
                            <li class=""><a href="#" class="">Requisitos</a></li>
                            <li class=""><a href="#" class="">Oferta Académica</a></li>
                        </ul>
                    </li>
                    
                     <li class="has-drop-nav">
                      <a href="#">
                        GRADUACIONES
                        <span class="lg-nav-txt"></span>
                      </a>
                        <ul  class="list--drop-nav">
                            <li class="first"><a href="#" class="first">Revisión de Expediente</a></li>
                            <li class=""><a href="#" class="">Solicitud de Grado</a></li>
                            <li class=""><a href="#" class="">Listados Oficiales</a></li>
                            <li class="last"><a href="#" class="last">Cronogramas</a></li>
                        </ul>
                      </li>
                  </ul>
                </li>

                <li class="nav-right-half">
                  <ul role="presentation" class="clearfix">
                    <li class="has-drop-nav">
                      <a href="#">
                        PROCESOS
                      </a>

                          <ul  class="list--drop-nav">
                            <li class="first"><a href="#" class="first">Carnetización</a></li>
                            <li class=""><a href="#" class="">Censos</a></li>
                            <li class=""><a href="#" class="">Revisión de Expediente</a></li>
                          </ul>
                    </li>
                    <li class="has-drop-nav">
                      <a href="#">
                        SOPORTE
                      </a>
                    
                    </li>
                  </ul>
                </li>
        
            </div>
        </div>
    </nav> <!--<FIN DEL MENU PRINCIPAL>-->
</header>

    <div class="container contenido-noticias">
        <div id="blog" class="row">        
          <div class="col-sm-2 paddingTop20">
            <nav class="nav-sidebar">
                <ul class="nav">
                    <li class="active"><a href="#"> <span class="glyphicon glyphicon-home"></span>  Noticias</a></li>
                    <li><a href="#">Graduaciones</a></li>
                    <li class="nav-divider"></li>
                    <li><a href="#">Tecnología</a></li>
                    <li class="nav-divider"></li>
                    <li><a href="#">Educación</a></li>
                    <li class="nav-divider"></li>
                    <li><a href="#">Salud</a></li>
                    <li class="nav-divider"></li>
                    <li><a href="#">Agro y Mar</a></li>
                    <li class="nav-divider"></li>
                </ul>
            </nav>
                      <!-- <div><h2 class="add">Place for your add!</h2></div> -->
            </div>
                 <div class="col-md-10 blogShort">
                     <h1>Title 1</h1>
                     <article><p>
                         Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                         ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only 
                         five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
                         of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of
                         Lorem Ipsum.    
                         </p></article>
                     <a class="btn btn-blog pull-right marginBottom10" href="http://bootsnipp.com/user/snippets/2RoQ">READ MORE</a> 
                 </div>
                  <div class="col-md-10 blogShort">
                     <h1>Title 2</h1>
                        <article><p>
                         Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                         ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only 
                         five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
                         of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of
                         Lorem Ipsum.
                         </p></article>
                     <a class="btn btn-blog pull-right marginBottom10" href="http://bootsnipp.com/user/snippets/2RoQ">READ MORE</a> 
                 </div>
                 
                  <div class="col-md-10 blogShort pull-right">
                     <h1>Title 3</h1>
                        <article><p>
                         Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                         ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only 
                         five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
                         of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of
                         Lorem Ipsum.
                         </p></article>
                     <a class="btn btn-blog pull-right marginBottom10" href="http://bootsnipp.com/user/snippets/2RoQ">READ MORE</a> 
                 </div>
                 
               <div class="col-md-12 gap10"></div>
             </div>
</div>
<footer role="contentinfo" id="footerArea" class="footer-base">
    <div class="wrapper wrapper--1-down content-area">
        <a href="#page" class="jump-to-nav jump-to-nav--hidden">
          Jump to Top
        </a>

    <div class="grid grid--footer">
        <div class="w-20 w-33--m">
            <h1 class="footer__heading txt-h5">
              Inscripciones
            </h1>
            <ul ul_attributes="nav-group nav-group--top-bar" display_stickynav="yes" class="list-clean">
                <li class="menu-449 first">
                    <a href="#" title="Nuevos Ingresos">Nuevos Ingresos</a></li>
                <li class="menu-683 last"><a href="#" title="Regulares">Regulares</a></li>
                <li class="menu-683 last"><a href="#" title="Cronogramas">Cronogramas</a></li>
                <li class="menu-683 last"><a href="#" title="Requisitos">Requisitos</a></li>
                <li class="menu-683 last"><a href="#" title="Oferta Académica">Oferta Académica</a></li>
            </ul>
        </div>

        <div class="w-20 w-33--m">
            <h2 class="footer__heading txt-h5">
              Graduaciones
            </h2>
            <ul ul_attributes="nav-group nav-group--top-bar" display_stickynav="yes" class="list-clean">
                <li class="menu-660 first">
                    <a href="/contact-harvard" title="Contact@2">Revisión de Expediente</a></li>
                <li class="menu-2078"><a href="/about-harvard/maps-directions" title="">Solicitud de Grado</a></li>
                <li class="menu-2383"><a href="http://hr.harvard.edu/jobs" title="">Listados Oficiales</a></li>
                <li class="menu-2384 last"><a href="/about-harvard/social-media" title="">Cronogramas</a></li>
            </ul>      
        </div>

      <div class="w-20 w-33--m">
            <h3 class="footer__heading txt-h5">
              Procesos
            </h3>
        <ul ul_attributes="nav-group nav-group--top-bar" display_stickynav="yes" class="list-clean">
            <li class="menu-448 first">
                <a href="/privacy-statement" title="Carnetización">Carnetización</a></li>
            <li class="menu-447"><a href="/copyright-issue" title="Censos">Censos</a></li>
            <li class="menu-861"><a href="/security-issue" title="Revisión de Expediente">Revisión de Expediente</a></li>
        </ul>      
      </div>
      
      <div class="w-20 w-33--m">
            <h3 class="footer__heading txt-h5">
              Soporte
            </h3>
        <ul ul_attributes="nav-group nav-group--top-bar" display_stickynav="yes" class="list-clean">
            <li class="menu-448 first">
                <a href="#" title="Preguntas Frecuentes">Preguntas Frecuentes</a></li>
            <li class="menu-447"><a href="#" title="Contacto">Contacto</a></li>
        </ul>      
      </div>

      <div class="w-footer-last">
        <h4 class="footer__heading txt-h5 is-visually-hidden">
            <br>
            <br>
            <br>
            <br>
        </h4>

        
         <p class="w-60 other-apps">
            <a href="/all-harvard-mobile">
              
            </a>
          </p>
      </div>


    </div> <!-- end footer grid -->

    <p class="footer__outro">
      © 2016 UNEFM - Dirección de Control de Estudios
    </p>

  </div>
</footer>

        <script src="js/modernizr-latest.js"></script>
        <script src="js/jquery-1.js"></script>
        <script src="js/bootstrap.js"></script>
	<!--<script src="js/ResizeSensor.js"></script>
        <script src="js/ElementQueries.js"></script>-->
        <script src="js/script.js"></script>
        <script src="js/slick.js"></script>

    </body>


</html>
